* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 14px;
  font-family: $font-barlow;
  background: $white;
  line-height: 1.5;
  padding-right: 0 !important;
}

a {
  color: $black;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
}

img,
video {
  width: 100%;
}
